#custom-container {
    padding: 0 3.8% 0 3.8%;
}

.stay-booking-title {
    font-size: 24px;
}

.stay-booking-check {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    box-shadow: 0 20px 27px 0 #0000000d;
}

.stay-booking-item {
    font-size: 20px;
}

#stay-booking-contain {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    font-size: 15px;
}

.stay-booking-policy {
    margin-left: 0.2rem;
    margin-bottom: 0;
}

.confirm-button {
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.confirm-button:active {
    background-color: var(--button-action-color);
    color: #fff;
}

.cancel-button {
    font-size: 18px;
    font-weight: bold;
}

.cancel-button:hover {
    background-color: var(--hovering-color);
}

.stay-booking-descripion {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow: 0 20px 27px 0 #0000000d;
    border-radius: 12.5px;
    padding: 2.5rem;
    top: 5rem;
}

.stay-booking-titles {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 0;
}

.stay-booking-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* PARA EL CALENDARIO */

.booking-dates {
    width: 285px;
    height: 40px;
    padding: .2rem;
    font-size: 17px;
    border-radius: 6px;
    border: .2px solid var(--acent-color);
    text-indent: 8px;
    color: var(--secondary-color);
}

.booking-dates:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--secondary-color);
}

.booking-prev-month {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 12.5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 12px;
}

.booking-next-month {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 12.5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 12px;
}

.booking-header-button {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--acent-color);
    border-radius: 12.5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 12px;
}

.booking-next-year {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--acent-color);
    border-radius: 12.5px;
    cursor: pointer;
}

.booking-prev-year {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--acent-color);
    border-radius: 12.5px;
    cursor: pointer;
}

.calendar {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 5px 20px #0000001a;
    padding: 10px;
    width: 432px;
    border-radius: 6px;
    top: 8rem;
    animation: fadeIn 0.2s ease-in-out;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 10px;
}

.booking-day {
    width: 32px;
    height: 32px;
    background: none;
    border: 1px solid var(--acent-color);
    border-radius: 12.5px;
    cursor: pointer;
}

.booking-day:hover {
    background-color: var(--hovering-color);
}

.booking-day.selected {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: bold;
    transform: scale(1.2);
}

.button-accept {
    background-color: var(--primary-color);
    font-size: 18px;
}

.button-accept:active {
    background-color: var(--button-action-color);
}

.accordion-button {
    color: #000;
    border-bottom: .2px solid #dee2e6;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
    text-decoration: underline;
}

.booking-day.disabled {
    pointer-events: none;
    color: var(--acent-color);
}

input[disabled] {
    background-color: #fff;
    color: var(--acent-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    width: 33%;
}

.add-place-hidden-checkboxes[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

.add-place-hidden-radios[type="radio"][id^="myRadioItem"] {
    display: none;
}

.add-place-checkboxes {
    padding: 1rem;
    display: flex;
    position: relative;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid transparent;
}

.add-place-checkboxes span {
    margin-left: -3px;
}

.add-place-icon-title {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}

:checked+.add-place-checkboxes {
    border-color: var(--secondary-color);
    transition: .5s ease;
}

.payment-mode-cards {
    width: 45%;
    height: 60px;
}

.paymode-card-title {
    font-size: 18px;
    font-weight: 500;
}

.form-select {
    height: 70px;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border: .5px solid var(--secondary-color);
}

.form-control {
    height: 65px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: .5px solid var(--secondary-color);
}

.transfer-label{
    font-size: 16px;
}