hr {
    color: #ccccc6;
}

#custom-container {
    padding: 0 3.8% 0 3.8%;
}

.col-back-home {
    width: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.col-back-home span {
    font-size: 2.5rem;
    margin-left: -8px;
}

.custom-width {
    width: 80rem;
}

.col-tooltip {
    position: absolute;
    left: 10rem;
    background: var(--primary-color);
    padding: .5rem;
    border-radius: 6px;
    top: 11rem;
    font-size: 12px !important;
    color: white;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}

.col-tooltip span {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.col-back-home:hover .col-tooltip {
    opacity: 1;
}

.stay-title {
    font-size: 32px;
    font-weight: 500;
}

.stay-location {
    font-size: 20px;
    font-weight: normal;
}

#stay-cover {
    width: 100%;
    height: 450px;
    padding-top: 0.1rem;
    padding-right: 0.05rem;
    animation: fade 1s ease;
}

#stay-images {
    width: 48.6%;
    height: 222px;
    object-fit: cover;
    margin: 0.1rem;
    padding: 0%;
    animation: fade 1s ease;
}

.stay-category {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
}


.stay-attributes {
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
    margin-right: 1rem;
    margin-left: .3rem;
    margin-bottom: 0;
    color: var(--tertiary-color);
}

.stay-attribute-icon {
    font-size: 24px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--tertiary-color);
}

.stay-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}

#stay-info {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 18px;
    font-weight: 300;
}

.amenities-icon img {
    width: 24px;
    height: 24px;
}

.amenities-amenity {
    margin-left: .2rem;
    margin-bottom: 0;
}

.host-picture {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.host-name {
    font-size: 18px;
    font-weight: 400;
}

.host-description {
    font-size: 18px;
    font-weight: 300;
}

.host-lang {
    font-size: 16px;
    font-weight: 400;
}

.host-talks {
    font-size: 16px;
    font-weight: 300;
}

.card-header {
    background-color: #fff;
}

#booking-card {
    z-index: 2;
    width: 100%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    border: none !important;
}

.stay-price {
    font-size: 18px;
}

#booking-consulting-button {
    width: 60%;
    padding: 1rem;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.modal-dialog {
    top: 80%;
    right: 35%;
}

.modal-header {
    background-color: var(--primary-color);
}

.btn-close {
    color: #fff;
    border: 2px solid;
}

.modal-dialog-slide-up {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.modal.show .modal-dialog-slide-up {
    transform: translateY(0);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}